In [3]:
#1
def calculator(salary):
    insurance=salary*0.07
    tax=salary*0.1
    income=salary*0.83
    print(insurance,tax,income)
salary=float(input("enter salary="))
calculator(salary)

enter salary= 120000

8400.0 12000.0 99600.0

In [5]:
#2
price1=float(input("enter price for first year:"))
price2=float(input("enter price for second year:"))
t=((price2-price1)/price1)
price3=price2+price2*t
print("t=",t*100,"price3=",price3)

enter price for first year: 50000
enter price for second year: 120000

t= 140.0 price3= 288000.0

In [8]:
#3
n=int(input("enter n="))
y1=0
y2=1
if n==1:
    print(y1)
elif n==2:
    print(y1)
    print(y2)
else:
    print(y1)
    print(y2)
    i=3
    while i<=n:
        y3=y1+y2
        print(y3)
        y1=y2
        y2=y3
        i=i+1

enter n= 10

0
1
1
2
3
5
8
13
21
34

In [16]:
#4
my_str=input("enter string:")
n=" "
for i in my_str:
    n1=n+i+""
    print(n1)

enter string: hello shaghayegh

 h
 e
 l
 l
 o

 s
 h
 a
 g
 h
 a
 y
 e
 g
 h

In [32]:
#5
total_hours=int(input("total hours:"))
if total_hours>160:
    normal_hours=160
    overtime_hours=total_hours-160
    if overtime_hours>40:
        overtime_hours=40
    else:
        normal_hours=total_hours
        overtime_hours=0
    normal_pay=normal_hours*100
    overtime_pay=overtime_hours*50
    total_salary=normal_pay+overtime_pay
    print("salary:",total_salary)

total hours: 186

salary: 18600

In [3]:
#6
fines={"a0":100,"a1":120,"a2":80,"a3":140,"a4":70,"a5":105,"a6":170,"a7":200,"a8":85,"a9":400}
fine_count=int(input("fine_count="))
s=0
for i in range(fine_count):
    m=input("enter fines key:")
    s=s+fines[m]
    print(m,fines[m])
    print("---------------")
    print(s)

fine_count= 3
enter fines key: a1

a1 120
---------------
120

enter fines key: a2

a2 80
---------------
200

enter fines key: a8

a8 85
---------------
285

In [9]:
#7
import random
my_str=input("enter string:")
s=random.choice(my_str)
print(s)

enter string: python

o

In [13]:
#8
def histogram(items):
    for n in items:
        output=""
        times=n
        while times>0:
            output=output+"*"
            times=times-1
        print(output)
histogram([3,6,4,3,6,12])

***
******
****
***
******
************

In [9]:
#9
def find_longest_word(words_list):
    words_len=[]
    for n in words_list:
        words_len.append((len(n),n))
        words_len.sort()
    return words_len [-1][1]
words=input("enter sevralwords:").split()
print(find_longest_word(words))

enter sevralwords: rosha ali reza

rosha

In [19]:
#10
import random
n=int(input("enter a number:"))
lis=["sang","kaghaz","ghache"]
s="sang"
k="kaghaz"
gh="ghache"
for i in range(n):
    print("sang,kaghaz,ghache")
    print("-------------------------")
    user=input("start ply:")
    ps=random.choice(lis)
    if user==ps:
        print("mosave")
    elif user==k and ps==s or user==gh and  ps==k or user==s and ps==gh:
        print(" user good")
    else:
        print("ps good")

enter a number: 2

sang,kaghaz,ghache
-------------------------

start ply: sang

ps good
sang,kaghaz,ghache
-------------------------

start ply: kaghaz

ps good